@model IEnumerable<Shop.Areas.admin.ViewModel.OrderViewModel>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Orders Details</h2>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    
    <td>
        @Html.DisplayFor(modelItem => item.OrderID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Category.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new {  id=item.OrderID, procductID = item.Product.ProductID }) |
        @Html.ActionLink("Details", "Details", new {/* id=item*/  }) |
        @Html.ActionLink("Delete","DeleteOrderDetail" ,new {Productid = item.Product.ProductID ,orderid = item.OrderID})
    </td>
</tr>
}

</table>
<div>
    @Html.ActionLink("Back to List","Index")
</div>
