@model IEnumerable<Shop.Areas.admin.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <!--<th>
        @Html.DisplayNameFor(model => model.CategoryID)
    </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.category.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InStock)
    </td>
    <!--
    <td>
        @Html.DisplayFor(modelItem => item.CategoryID)
    </td>
        -->
    <td>
        @Html.DisplayFor(modelItem => item.category.CategoryName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
    </td>
</tr>
    }

</table>
<span class="badge badge-success">
    @Html.ActionLink("Categories", "RedirectToCategories", null, new { @style = "color: white;font-size : 15px" })
</span>
<span class="badge badge-warning">
    @Html.ActionLink("Customer", "RedirectToCustomer", null, new { @style = "color: white;font-size : 15px" })
</span>
<span class="badge">
    @Html.ActionLink("Orders", "RedirectToOrders", null, new { @style = "color: white;font-size : 15px" })
</span>
