@model IEnumerable<Shop.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
<span class="badge badge-success">
    @Html.ActionLink("Customer","RedirectToCustomer",null ,new {@style = "color: white;font-size : 15px"})
</span>
<span class="badge badge-warning">
    @Html.ActionLink("Order", "RedirectToOrder", null, new {@style = "color: white;font-size : 15px" })
</span>
<span class="badge">
    @Html.ActionLink("Products", "RedirectToProduct", null, new { @style = "color: white;font-size : 15px" })
</span>